body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://images.unsplash.com/photo-1510265382668-7b564935d7b5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
  }
  
  .main-h1 {
    margin: 10px;
    font-size: 70px;
    font-weight: bold;
    color: white;
    border: 10px;
  }
  
  .main-h1:hover {
    cursor: pointer;
    opacity: 80%;
  }
  
  .inspirational-section {
    background: white;
    height: 500px;
    margin: 10px;
    border-radius: 5px;
  }
  
  .official-link {
    text-decoration: none;
    color: black;
  }
  
  .resource-name {
    padding: 10px;
    margin: 0px;
    color: goldenrod
  }
  
  .main-section {
    display: flex;
    flex-direction: row;
    width: 100%
  }
  
  .main-section-img {
    width: inherit;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .main-section-img > img {
    width: inherit;
    border-radius: 5px;
  }
  
  .resource {
    background: rgb(35, 116, 35);
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    width: 800px
  }
  
  .headerbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .welcome {
    color: white;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .user {
    font-weight: normal;
    font-size: 18px;
  }